---
import EmailForm from "./EmailForm.astro";
---

<div class="bg-primary-600 text-neutral-50 text-center py-8">
  <div class="px-5 md:max-w-xl md:mx-auto">
    <p class="uppercase text-sm">35,000+ already joined</p>
    <h3 class="text-xl">Stay up-to-date with what we’re doing</h3>
    <EmailForm />
  </div>
</div>
