<div class="py-8">
  <div class="grid gap-2 px-5 text-center sm:max-w-xl sm:mx-auto sm:mt-7">
    <h2 class="text-2xl">Download the extension</h2>
    <p>
      We’ve got more browsers in the pipeline. Please do let us know if you’ve
      got a favourite you’d like us to prioritize.
    </p>
  </div>
  <div
    class="flex flex-col md:flex-row md:max-w-4xl md:justify-between md:mx-auto gap-2 px-5 py-8 text-center"
  >
    <div id="#chrome" class="grid gap-5 shadow rounded py-5">
      <div class="grid gap-4 justify-self-center">
        <div class="justify-self-center">
          <img src="assets/images/logo-chrome.svg" alt="Chrome logo" />
        </div>
        <div>
          <h3>Add to Chrome</h3>
          <p>Minimum version 62</p>
        </div>
      </div>
      <img src="assets/images/bg-dots.svg" alt="" />
      <div>
        <a
          class="btn-primary sm:hover:bg-transparent sm:hover:text-primary-600 sm:border sm:border-primary-600"
          href="">Add & Install Extension</a
        >
      </div>
    </div>
    <div id="#firefox" class="grid gap-5 shadow rounded py-5 md:mt-25">
      <div class="grid gap-2 justify-self-center">
        <div class="justify-self-center">
          <img src="assets/images/logo-firefox.svg" alt="Firefox logo" />
        </div>
        <div>
          <h3>Add to Firefox</h3>
          <div>Minimum version 55</div>
        </div>
      </div>
      <img src="assets/images/bg-dots.svg" alt="" />
      <div>
        <a
          class="btn-primary sm:hover:bg-transparent sm:hover:text-primary-600 sm:border sm:border-primary-600"
          href="">Add & Install Extension</a
        >
      </div>
    </div>
    <div id="#opera" class="grid gap-5 shadow rounded py-5 md:mt-50">
      <div class="grid gap-2 justify-self-center">
        <div class="justify-self-center">
          <img src="assets/images/logo-opera.svg" alt="Opera logo" />
        </div>
        <div>
          <h3>Add to Opera</h3>
          <div>Minimum version 46</div>
        </div>
      </div>
      <img src="assets/images/bg-dots.svg" alt="" />
      <div>
        <a
          class="btn-primary sm:hover:bg-transparent sm:hover:text-primary-600 sm:border sm:border-primary-600"
          href="">Add & Install Extension</a
        >
      </div>
    </div>
  </div>
</div>
