<div class="grid gap-4 text-center">
  <h2 class="text-2xl">Frequently Asked Questions</h2>
  <p>
    Here are some of our FAQs. If you have any other questions you’d like
    answered please feel free to email us.
  </p>
</div>
