<div class="grid gap-3 sm:max-w-xl sm:mx-auto px-5 pt-8 pb-5 text-center">
        <h2 class="text-2xl">Features</h2>
        <p>
          Our aim is to make it quick and easy for you to access your favourite
          websites. Your bookmarks sync between your devices so you can access
          them on the go.
        </p>
      </div>